.mp-button
    @extend .d-flex
    @extend .align-items-center
    @extend .justify-content-center
    cursor: pointer
    border: none
    outline: none
    text-decoration: none
    transition: 0.04s all ease

    &:focus
        outline: none

    + .mp-button
        @extend .ml-1

    &-icon
        @extend .mp-button
        background: transparent
        width: 36px
        height: 36px
        padding: 0
        border-radius: 50%

        &:hover
            background: rgba($black, 0.04)

    &-text
        @extend .mp-button
        @extend .py-3
        @extend .px-5
        border-radius: 40px

    &--link
        @extend .mp-button-text
        background: transparent
        color: $blue

        &:hover
            text-decoration: underline

    &--primary
        @extend .mp-button-text
        background: $blue
        color: $white

        &:hover
            color: $white
            text-decoration: none
            background: darken($blue, 4%)

    &--outline
        @extend .mp-button-text
        background: transparent
        color: $blue
        border: 1px solid $blue

        &:hover
            background: $lightgray

    &--transparent
        @extend .mp-button
        @extend .py-2
        @extend .px-3
        border-radius: 40px
        background: transparent

        &:hover
            background: rgba($black, 0.04)