.mp-icon
    display: inline-block
    width: 20px
    height: 20px

.--icon-white
    fill: $white

.--icon-primary
    fill: rgba(0, 0, 0, 0.87)

.--icon-secondary
    fill: rgba(0, 0, 0, 0.54)

.--icon-tertiary
    fill: rgba(0, 0, 0, 0.24)

.mp-collection-icon
    @include text-secondary
    font-size: 8px
    padding: 0.5em
    border-radius: 50%
    background: $light-gray
    min-width: 20px
    min-height: 20px
    display: flex
    align-items: center
    justify-content: center
    font-weight: bold