.mp-tag
    @extend .mp-text-small
    @extend .py-2
    @extend .px-3
    @extend .my-1
    @extend .mx-2
    display: inline-block
    background: $gray
    color: rgba($black, 0.54)
    border-radius: 40px
    transition: 0.04s all ease-in

    &:hover
        color: rgba($black, 0.54)
        background: darken($gray, 3%)
