.mp-tag
    @include text-secondary
    background: $light-gray
    padding: 0.2em 1em
    border-radius: 40px
    transition: 0.04s all ease-in

    &:hover
        @include text-secondary
        background: darken($light-gray, 3%)